In [1]:
# dependencies
import chardet
import pandas as pd
import os 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [2]:
# Load in file
# Store filepath in a variable
YOUTUBE_PATH = "Resources/global_youtube_stats.csv"

In [3]:
with open(YOUTUBE_PATH, 'rb') as csv_file:
    raw_content = csv_file.read()
    chardet_result = chardet.detect(raw_content)
print(chardet_result)

{'encoding': 'ISO-8859-1', 'confidence': 0.7289153199558486, 'language': ''}

In [4]:
# Read and display the CSV with Pandas
df = pd.read_csv(YOUTUBE_PATH, encoding=chardet_result['encoding'])
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 554 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     554 non-null    int64
 1   Youtuber                                 554 non-null    object
 2   subscribers                              554 non-null    int64
 3   video views                              554 non-null    float64
 4   category                                 554 non-null    object
 5   Title                                    554 non-null    object
 6   uploads                                  554 non-null    int64
 7   Country                                  554 non-null    object
 8   Abbreviation                             554 non-null    object
 9   channel_type                             554 non-null    object
 10  video_views_rank                         554 non-null    float64
 11  country_rank                             554 non-null    float64
 12  channel_type_rank                        554 non-null    float64
 13  video_views_for_the_last_30_days         554 non-null    float64
 14  lowest_monthly_earnings                  554 non-null    float64
 15  highest_monthly_earnings                 554 non-null    float64
 16  lowest_yearly_earnings                   554 non-null    float64
 17  highest_yearly_earnings                  554 non-null    float64
 18  subscribers_for_last_30_days             554 non-null    float64
 19  created_year                             554 non-null    float64
 20  created_month                            554 non-null    object
 21  created_date                             554 non-null    float64
 22  Gross tertiary education enrollment (%)  554 non-null    float64
 23  Population                               554 non-null    float64
 24  Unemployment rate                        554 non-null    float64
 25  Urban_population                         554 non-null    float64
 26  Latitude                                 554 non-null    float64
 27  Longitude                                554 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 125.5+ KB

In [8]:
# pd.set_option('display.max_rows', None)  # Set the option to display all rows
#print(df)

In [9]:
# Assuming your DataFrame is named df
# Rename specific columns
cleaned_df = df.rename(columns={
    'Gross tertiary education enrollment (%)': 'gross education enrollment percentage',
    'Youtuber': 'youtuber',
    'Title': 'title',
    'Abbreviation': 'abbreviation',
    'Country' : 'country',
    'Population': 'population',
    'Unemployment rate': 'unemployment rate',
    'Urban_population' : 'urban_population',
    'Latitude' : 'latitude',
    'Longitude' : 'longitude',
    'video views' : 'video_views'
    })

# Display the DataFrame with renamed columns
cleaned_df.head()

,rank,youtuber,subscribers,video_views,category,title,uploads,country,abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,gross education enrollment percentage,population,unemployment rate,urban_population,latitude,longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756

In [10]:
# Specify the URI for the cleaned database
db_uri = 'sqlite:///data.db'

# Create an engine using the specified URI
engine = create_engine(db_uri)

# Write the cleaned DataFrame to a SQLite database table named 'my_table'
cleaned_df.to_sql('my_table', engine, if_exists='replace', index=False)

# Confirm that the data has been successfully written to the database
df_from_db = pd.read_sql('my_table', engine)
print(df_from_db)

     rank                    youtuber  subscribers   video_views  \
0       1                    T-Series    245000000  2.280000e+11
1       3                     MrBeast    166000000  2.836884e+10
2       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
3       5                   SET India    159000000  1.480000e+11
4       9                 Like Nastya    106000000  9.047906e+10
..    ...                         ...          ...           ...
549   990                   Migos ATL     12400000  6.993406e+09
550   991               Natan por AÃ¯Â¿     12300000  9.029610e+09
551   992    Free Fire India Official     12300000  1.674410e+09
552   994                 RobTopGames     12300000  3.741235e+08
553   995                Make Joke Of     12300000  2.129774e+09

           category                       title  uploads        country  \
0             Music                    T-Series    20082          India
1     Entertainment                     MrBeast      741  United States
2         Education  Cocomelon - Nursery Rhymes      966  United States
3             Shows                   SET India   116536          India
4    People & Blogs            Like Nastya Vlog      493         Russia
..              ...                         ...      ...            ...
549           Music                   Migos ATL       99  United States
550          Sports               Natan por AÃ¯Â¿     1200         Brazil
551  People & Blogs    Free Fire India Official     1500          India
552          Gaming                 RobTopGames       39         Sweden
553          Comedy                Make Joke Of       62          India

    abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US  Entertainment  ...                     8000000.0
2             US      Education  ...                     1000000.0
3             IN  Entertainment  ...                     1000000.0
4             RU         People  ...                      100000.0
..           ...            ...  ...                           ...
549           US  Entertainment  ...                      100000.0
550           BR  Entertainment  ...                      700000.0
551           IN          Games  ...                      300000.0
552           SE          Games  ...                      100000.0
553           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2012.0            Feb          20.0
2          2006.0            Sep           1.0
3          2006.0            Sep          20.0
4          2016.0            Jan          14.0
..            ...            ...           ...
549        2012.0            Jan          17.0
550        2017.0            Feb          12.0
551        2018.0            Sep          14.0
552        2012.0            May           9.0
553        2017.0            Aug           1.0

     gross education enrollment percentage    population  unemployment rate  \
0                                     28.1  1.366418e+09               5.36
1                                     88.2  3.282395e+08              14.70
2                                     88.2  3.282395e+08              14.70
3                                     28.1  1.366418e+09               5.36
4                                     81.9  1.443735e+08               4.59
..                                     ...           ...                ...
549                                   88.2  3.282395e+08              14.70
550                                   51.3  2.125594e+08              12.08
551                                   28.1  1.366418e+09               5.36
552                                   67.0  1.028545e+07               6.48
553                                   28.1  1.366418e+09               5.36

     urban_population   latitude   longitude
0         471031528.0  20.593684   78.962880
1         270663028.0  37.090240  -95.712891
2         270663028.0  37.090240  -95.712891
3         471031528.0  20.593684   78.962880
4         107683889.0  61.524010  105.318756
..                ...        ...         ...
549       270663028.0  37.090240  -95.712891
550       183241641.0 -14.235004  -51.925280
551       471031528.0  20.593684   78.962880
552         9021165.0  60.128161   18.643501
553       471031528.0  20.593684   78.962880

[554 rows x 28 columns]

In [11]:
# INSPECT to confirm existence
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

print(tables)

['my_table']

In [12]:
# Define the SQL query
query = """
SELECT Rank, Youtuber, Subscribers, video_views, country
FROM my_table
ORDER BY Subscribers DESC
LIMIT 25
"""

# Execute the query and read the results into a DataFrame
df = pd.read_sql(text(query), con=engine)
df.head(25)

,rank,youtuber,subscribers,video_views,country
0,1,T-Series,245000000,2.280000e+11,India
1,3,MrBeast,166000000,2.836884e+10,United States
2,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,United States
3,5,SET India,159000000,1.480000e+11,India
4,9,Like Nastya,106000000,9.047906e+10,Russia
5,10,Vlad and Niki,98900000,7.718017e+10,United States
6,11,Zee Music Company,96700000,5.785629e+10,India
7,12,WWE,96000000,7.742847e+10,United States
8,14,BLACKPINK,89800000,3.214460e+10,South Korea
9,16,Sony SAB,83000000,1.010000e+11,India
10,18,BANGTANTV,75600000,2.082699e+10,South Korea
11,20,Justin Bieber,71600000,3.060812e+10,Canada
12,21,HYBE LABELS,71300000,2.863457e+10,South Korea
13,22,Zee TV,70500000,7.313905e+10,India
14,23,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,3.884323e+10,United States
15,25,ChuChu TV Nursery Rhymes & Kids Songs,65900000,4.575785e+10,India
16,26,Shemaroo Filmi Gaane,65600000,2.864802e+10,India
17,27,Colors TV,64600000,6.151091e+10,India
18,29,Dude Perfect,59500000,1.624155e+10,United States
19,30,Movieclips,59500000,5.931647e+10,United States
20,31,Tips Official,59300000,3.343180e+10,India
21,32,El Reino Infantil,58400000,5.727163e+10,Argentina
22,33,Wave Music,58000000,4.060202e+10,India
23,34,Aaj Tak,57600000,2.530775e+10,India
24,35,Sony Music India,57200000,2.883714e+10,India